* {
	font-family: Helvetica, Arial, sans-serif;

}

input{
	width: 50%;
	font-size: 1.2rem;
	color: grey;
	padding: 7px 10px;
}

h1{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 50px;
}

img{
	max-height: 200px;
	min-height: 200px;
}

.card-body p{
	padding: 0px;
	margin: 0px;
}

.card-custom{
	padding: 50px 0px;
	background-color: #2c3e50;
	color: #fff;
	margin-bottom: 50px;
}